.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem 0;
}

.Game {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.Board {
  position: relative;
  margin: 0 auto;
  background: #480b97;
  background-image: linear-gradient(black 1px, transparent 1px),
    linear-gradient(90deg, black 1px, transparent 1px);
}

.Cell {
  background: yellowgreen;
  position: absolute;
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
